.window{
    background-color: #f7f7f9;
}
.window-content {
    overflow-y: hidden;
}

.pane-sm {
    overflow: auto;
    border-left: 1px solid #dcdcdc;
}
.list-group-item{
    background-color: #fff;
}
.list-group-item.z-excluded {
    background-color: #f5f5f4;
}
header,footer{
    height: 44px;
    line-height: 44px;
}

/**/
.u-icon{
    display: inline-block;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(to bottom, #ff8261, #ffb16e);
}
.u-icon-1{
    background: linear-gradient(to bottom, #6d90f0, #96d1f3);
}
.u-icon-2{
    background: linear-gradient(to bottom, #70b14c, #76dc8f);
}
.u-icon-3{
    background: linear-gradient(to bottom, #ff586c, #ff89bf);
}
/**/
.guide-box, .roll-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.guide-box .flex-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.guide-box .flex-box .hd{
    margin-left: 20px;
}
.guide-box .flex-box .bd{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.guide-box .flex-box .ft{
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.guide-box .item, .way-box .item {
    margin: 10px;
    flex: 0 1 40%;
}
.guide-box .btn-box {
    margin-top: 30px;
    text-align: center;
}

/**/
.guide-box .item {
    width: 300px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    text-align: center;
    position: relative;
    transition: all .3s;
}

.guide-box .item .input-wrap, .guide-box .item .content-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.guide-box .item .input-wrap {
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

.guide-box .item .input-wrap div, .guide-box .item .input-wrap input {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.guide-box .item:hover {
    transform: translateY(-6px);
    box-shadow: 1px 4px 4px rgba(212, 212, 212, 0.45);
    cursor: pointer;
}

.guide-box .iconfont {
    font-size: 30px;
    color: #f6fef8;
}
.guide-box .icon-right{
    color: #ddd;
}
.guide-box .desc {
    color: #aeaeae;
    font-size: 18px;
    cursor: pointer;
}

/**/
.select-box tbody > tr.z-active {
    background-color: #666;
    color: #fff;
}
.table-striped tr:active:nth-child(even), tr:active{
    background-color: #666;
}

.select-box .btn-box {
    margin-top: 30px;
    text-align: center;
}

/**/
.roll-box .info {
    display: flex;
    align-items: center;
}

.roll-box .info .avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 20px;
}

.roll-box .btn-box {
    margin-top: 20px;
    text-align: center;
}